@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #008000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: var(--primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #008000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@components {
  .container {
    @apply mx-auto max-w-[1200px] px-5;
  }
  
  .h1 {
    @apply text-xl;
  }

  .p {
    @apply text-lg;
  }
}